.mvn/wrapper/maven-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

.vscode/
.DS_Store
Thumbs.db

target/
*.class
*.jar
*.war
*.ear

!/.mvn/wrapper/maven-wrapper.jar

out/

*.log
logs/
*.dump
hs_err_pid*

*.h2.db
*.mv.db

jacoco.exec
target/site/jacoco/
coverage-reports/
coverage/
test-output/
surefire-reports/

*.env
docker-compose.override.yml

*.swp
*.swo
